body 
{ background-color: rgb(136, 149, 161);    }
caption{
    font-size: x-large; color: rgb(96, 85, 146); 
}
#first{
    background-color:rgb(73, 122, 161);
}
 h1 { color: white; text-align: center; }
      h2 { color: rgb(0, 0, 12); }
      h3 { color: rgb(1, 12, 1); }
      h4 { color: rgb(7, 21, 155); }
      h6 { color: rgb(57, 59, 179); }
      ol { color: white; }
      li i{
        margin-right:5px; 
        font-size: 18PX;
      }