  body{
          background-color: rgba(45, 121, 83, 0.473);
        }
        table {
            width: 50%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #862828d3;
        }
        tbody{
            background-color: azure;
        }
        tfoot{
            background-color: #862828d3;;
        }
        h1{
            font-size: xx-large;
            text-align: center;
            font-style: italic;
        }
        h2{
            font-size: xx-large;
            text-align: center;
            font-style: italic;
        }
        .reset-button{
            background-color: white;
            border: 2px;
            border-radius: 3px;
            border-color: rgb(48, 98, 163);
            color: rgb(48, 98, 163);
            height: 30px;
            width: 60px;
            cursor: pointer;
            border-style: solid;
        }
        .submit-button{
            background-color: rgb(156, 15, 15);
            color: white;
            width: 60px;
            border: none;
            cursor: pointer
        }